
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="jumbotron">
    <h1 class="display-3">BIG HUGE SALE!!!</h1>
    <p class="lead">Supporting Text</p>
</div>
<hr />
<h4>Featured Vehicles</h4>
@*featured vehicles dynamically are loaded here via jQuery*@
