
<div class="jumbotron">
    <h1 class="display-3">Guild Cars</h1>
    <p class="lead">New and Used Vehicles</p>
</div>
<hr />
<h4>Featured Vehicles</h4>
<div id="Featured">
@*featured vehicles dynamically are loaded here via jQuery*@
</div>

@section scripts {    
<script src="~/Scripts/home.js"></script>
}
@section map{}
