@model CarDealership.Models.Make
@{
    ViewBag.Title = "AddMake";
}

<h2>Add Make</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.MakeName)
    <button type="submit" id="save" class="btn btn-primary btn-sm">Save</button>
}

@section scripts{}
@section map{}

