@model NewTipCalculator.Models.TipModel

@{
    ViewBag.Title="Just the tip"
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalculationReturn</title>
</head>
<body>
        <div>
            Bill: @Model.Bill
            Tip Amount: @Model.Tip
            Total: @Model.Total
        </div>
</body>
</html>
